@import '~/assets/stylesheets/mixin.scss';
.detail-wrapper {
  border-bottom: .5px solid #f2f2f2;
  @include breakpoint(mobile) {
    flex-wrap: wrap;
  }
}
.images-wrapper {
  @include breakpoint(tablet) {
    width: 100%;
  }

  .main-image img{
    height: 500px;
    width: 435px;

    @include breakpoint(tablet) {
      width: 100%;
    }
  }
  
  .images-list {
    img {
      height: 130px;
      width: 90px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.1)
      }
    }
  }
}
.content-wrapper {
  width: 100%;

  @include breakpoint(mobile) {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-load-spinner-wrapper {
  min-height: 75vh;
}

.scroll-horizontal {
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}